{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>All Students</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Admin No</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Class</th>
                        <th>Father's Name</th>
                        <th>Mother's Name</th>
                        <th>Contact No</th>
                        <th>DOB</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{ student[0] }}</td>
                        <td>{{ student[1] }}</td>
                        <td>{{ student[2] }}</td>
                        <td>{{ student[3] }}</td>
                        <td>{{ student[4] }}</td>
                        <td>{{ student[5] }}</td>
                        <td>{{ student[6] }}</td>
                        <td>{{ student[7] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}</content>
<parameter name="filePath">c:\Users\Anansing Basumatary\School_Management\templates\students.html